/* .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  } */

mat-card {
    text-align: center;
    margin: 1% 25% 3% 25%
}

mat-card-header {
    display: unset;
}

.mat-card-image {
  background-color: white;
  padding-top: 50.25%
}